* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif, monospace;
}
.page {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  &__title {
    text-align: center;
    font-size: 28px;
  }
}
